{% extends 'base.html.twig' %}

{% block title 'Mes commandes' %}

{% block body %}

    <div class="container mt-4">
        <h1 class="mb-4">Mes commandes</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <div class="jumbotron p-4">
            <h5>{{ orders|length }} commande(s) passée(s)</h5>
            <div class="mt-2">
                {% for order in orders %}
                    <div class="media mt-4">
                        <div class="media-body d-flex justify-content-between">
                            <div>
                                <h5>Commande n°{{ order.id }}</h5>
                                <p class="my-1">{{ order.countProducts }} produit(s) commandé(s)</p>
                                <p class="my-1">Commande passée le {{ order.requestDate|date('d-m-Y à H:i') }}</p>
                                <p class="my-1">
                                    {% if order.status == 1 %}
                                        Payé le {{ order.paidDate|date('d-m-Y à H:i') }}
                                    {% else %}
                                        {{ order.statusToString }}
                                    {% endif %}
                                </p>
                                <p class="my-1">
                                    {{ order.deliveryStatusToString }}
                                </p>
                                <p>{{ order.total }} €</p>
                            </div>
                            <div>
                                <a href="{{ path('order.show', {id: order.id}) }}" class="btn btn-primary text-white">Détails</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}