{% extends 'base.html.twig' %}

{% block title %}Liste des entrep么ts{% endblock %}

{% block body %}
    <div class="container mt-4">


        <h3 class="mb-4">Liste des entrep么ts</h3>
        <table class="table">
            <thead>
            <tr>
                <th class="p-4">Id</th>
                <th class="p-4">Adresse</th>
                <th class="p-4">Ville</th>
                <th class="p-4">Nombre de produits</th>
                <th class="p-4">Voir</th>
                <th class="p-4">Modifier</th>
            </tr>
            </thead>
            <tbody>
            {% for wharehouse in wharehouses %}
                <tr>
                    <td class="p-4"> {{ wharehouse.id }}</td>
                    <td class="p-4">{{ wharehouse.address }}</td>
                    <td class="p-4">{{ wharehouse.city }}</td>
                    <td class="p-4">{{ wharehouse.products.count }}</td>
                    <td class="p-2">

                        <a id="button" href="{{ path('admin.wharehouse.show', {'id': wharehouse.id}) }}">Voir</a>
                    </td>
                    <td class="p-2">

                        <a id="button" href="{{ path('admin.wharehouse.edit', {'id': wharehouse.id}) }}">Modifier</a>
                    </td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun entrep么t</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div id="div">
            <a id="button"  href="{{ path('admin.wharehouse.new') }}">Ajouter un entrep么t</a>
        </div>
    </div>


{% endblock %}
