{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <h3 class="mb-4">Liste des produits</h3>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Marque</th>
                <th>Modèle</th>
                <th>Condition</th>
                <th>Prix</th>
                <th>Date de dépôt</th>
                <th>Vendu par</th>
                <th>Statut</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.model.brand.name }}</td>
                <td>{{ product.model.name }}</td>
                <td>{{ product.productConditionToString }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.depositDate ? product.depositDate|date('d-m-Y à H:i') : '' }}</td>
                <td>{{ product.sell.soldBy.email }}</td>
                <td>{% if product.sell.status == 0 %}En attente{% elseif product.sell.status == 1 %}Accepté{% else %}Refusé{% endif %}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('admin.product.show', {'id': product.id}) }}">Voir</a>
                    <a class="btn btn-secondary" href="{{ path('admin.product.edit', {'id': product.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8=">Aucun produit</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{#    <a class="btn btn-primary" href="{{ path('admin.product.new') }}">Ajouter un produit</a>#}
{% endblock %}
