{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h3 class="mb-4">Produit</h3>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ product.id }}</td>
        </tr>
        <tr>
            <th>Marque</th>
            <td>{{ product.model.brand.name }}</td>
        </tr>
        <tr>
            <th>Modèle</th>
            <td>{{ product.model.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ product.description }}</td>
        </tr>
        <tr>
            <th>Condition</th>
            <td>{{ product.productConditionToString }}</td>
        </tr>
        <tr>
            <th>Prix</th>
            <td>{{ product.price }} € {% if referencePrice != 0 %} (Prix de référence: {{ referencePrice }} €){% endif %}</td>
        </tr>
        <tr>
            <th>Date de dépôt</th>
            <td>{{ product.depositDate ? product.depositDate|date('d-m-Y à H:i') : '' }}</td>
        </tr>
        <tr>
            <th>Statut</th>
            <td>{% if product.sell.status == 0 %}En attente{% elseif product.sell.status == 1 %}Accepté{% else %}Refusé{% endif %}</td>
        </tr>
        {% if product.wharehouse %}
            <tr>
                <th>Entreposé à</th>
                <td>{{ product.wharehouse.city }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <div class="w-50 my-4">
        <h5>Photos du produit</h5>
        {% if pictures %}
            {% for picture in pictures %}
                <img src="{{ asset('uploads/pictures/' ~ picture.name) }}" class="w-25" alt="Test">
            {% endfor %}
        {% else %}
            <p>Aucune photo</p>
        {% endif %}
    </div>

    <div class="d-flex">
        <form class="mr-2" method="post" action="{{ path('admin.product.update_offer', {'id': product.id}) }}" onsubmit="return confirm('Voulez-vous vraiment accepter l\'offre ?');">
            <input type="hidden" name="_token" value="{{ csrf_token('accept_offer' ~ product.id) }}">
            <button class="btn btn-secondary">Accepter l'offre</button>
        </form>
        <form class="mr-2" method="post" action="{{ path('admin.product.update_offer', {'id': product.id}) }}" onsubmit="return confirm('Voulez-vous vraiment refuser l\'offre ?');">
            <input type="hidden" name="_token" value="{{ csrf_token('decline_offer' ~ product.id) }}">
            <button class="btn btn-danger">Décliner l'offre</button>
        </form>
        {{ include('admin/product/_delete_form.html.twig') }}
        <a class="btn btn-primary mr-2" href="{{ path('admin.product.index') }}">Retour</a>
    </div>
{% endblock %}
