{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}
{% block stylesheets %}

{% endblock %}{% block body %}
    <body class="body_home">

    <div class="container mt-4">

        <h3 class="mb-4">Produit - {{ product.model.brand.name }} {{ product.model.name }} </h3>
        <div class="row_product">
            <div class="col-sm-6">
                <section class="gallery">
                    {% if pictures %}
                        {% for picture in pictures %}
                            <div class="gallery__item">
                                <input type="radio" id="img-1" checked name="gallery" class="gallery__selector"/>
                                <img class="gallery__img" src="{{ asset('uploads/pictures/' ~ picture.name) }}" alt=""/>
                                <label for="img-1" class="gallery__thumb"><img src="{{ asset('uploads/pictures/' ~ picture.name) }}" alt=""/></label>
                            </div>
                        {% endfor %}
                        <div class="gallery__item">
                            <input type="radio" id="img-2" name="gallery" class="gallery__selector"/>
                            <img class="gallery__img" src="https://fhox.com.br/wp-content/uploads/2020/10/pro-max-camera.jpg" alt=""/>
                            <label for="img-2" class="gallery__thumb"><img src="https://fhox.com.br/wp-content/uploads/2020/10/pro-max-camera.jpg" alt=""/></label>
                        </div>
                        <div class="gallery__item">
                            <input type="radio" id="img-3" name="gallery" class="gallery__selector"/>
                            <img class="gallery__img" src="https://www.presse-citron.net/app/uploads/2020/10/iphone12-pro.jpg" alt=""/>
                            <label for="img-3" class="gallery__thumb"><img src="https://www.presse-citron.net/app/uploads/2020/10/iphone12-pro.jpg" alt=""/></label>
                        </div>
                        <div class="gallery__item">
                            <input type="radio" id="img-4" name="gallery" class="gallery__selector"/>
                            <img class="gallery__img" src="https://www.cnet.com/a/img/MkcUezYr9RSI3Pghy-FV7BF0IKc=/940x0/2020/10/13/ef3f808f-df87-4a36-aecc-4e59d1d022be/iphone-12-pro-and-iphone-12-pro-max-apple-google-chrome-13-10-2020-19-47-14-2.png" alt=""/>
                            <label for="img-4" class="gallery__thumb"><img src="https://www.cnet.com/a/img/MkcUezYr9RSI3Pghy-FV7BF0IKc=/940x0/2020/10/13/ef3f808f-df87-4a36-aecc-4e59d1d022be/iphone-12-pro-and-iphone-12-pro-max-apple-google-chrome-13-10-2020-19-47-14-2.png" alt=""/></label>
                        </div>
                    {% else %}
                        <p>Aucune photo</p>
                    {% endif %}

                </section>

            </div>

            <div class="col-md-6 tst" style="color: white;">

                <h5>Caractéristiques du modèle</h5>
                <ul>
                    <li>Batterie: {{ product.feature.battery }}</li>
                    <li>Caméra: {{ product.feature.camera }}</li>
                    <li>Carte graphique: {{ product.feature.graphicCard }}</li>
                    <li>Disque dur: {{ product.feature.hardDisk }}</li>
                    <li>Version du système: {{ product.feature.osVersion }}</li>
                    <li>Processeur: {{ product.feature.processor }}</li>
                    <li>Mémoire RAM: {{ product.feature.ram }} Go</li>
                    <li>Taille de l'écran: {{ product.feature.screenSize }}</li>
                    <li>Écran tactile: {{ product.feature.tactile ? 'Oui' : 'Non' }}</li>
                </ul>

                <h5>Détails de l'offre -
                    Statut: <strong>
                            {% if product.sell.status == 0 %}En attente{% elseif product.sell.status == 1 %}Accepté{% else %}Refusé{% endif %}</strong>

                </h5>
                    <ul>
                    <li>Id: {{ product.id }}</li>
                    <li>Marque: {{ product.model.brand.name }}</li>
                    <li>Modèle: {{ product.model.name }}</li>
                    <li>Condition: {{ product.productConditionToString }}</li>
                    <li>Prix: {{ product.price }} € {% if referencePrice != 0 %} (Prix de référence: {{ referencePrice }} €){% endif %}</li>
                    <li>Date de dépôt: {{ product.depositDate ? product.depositDate|date('d-m-Y à H:i') : '' }}</li>
                    <li>Vendu par: {{ product.sell.soldBy.email }}</li>

                    <li>Description: {{ product.description }}</li>
                </ul>
            </div>

        </div>

        <hr style="color: white">

        <div class="container" style="color: white">
            {% if product.wharehouse %}

                <div class="flex">
                    <div class="flex_title">
                        <h2>Entreposé à :  <strong>{{ product.wharehouse.city }}</strong>  </h2>
                    </div>

                    <div class="flex_title">

                        <a href="{{ path('admin.product.update_wharehouse', {id: product.id}) }}" class="" id="button">Changer</a>
                    </div>
                </div>
            {% endif %}

        </div>





        <hr style="color: white">

            <div class="flex-tho">
                <form class="mr-2" method="post" action="{{ path('admin.product.update_offer', {'id': product.id}) }}" onsubmit="return confirm('Voulez-vous vraiment accepter l\'offre ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('accept_offer' ~ product.id) }}">
                    <button class="btn btn-secondary">Accepter l'offre</button>
                </form>

                <form class="mr-2" method="post" action="{{ path('admin.product.update_offer', {'id': product.id}) }}" onsubmit="return confirm('Voulez-vous vraiment refuser l\'offre ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('decline_offer' ~ product.id) }}">
                    <button class="btn btn-danger">Décliner l'offre</button>
                </form>
            </div>
        <hr style="color: white">

            <div class="flex">

                <div class="flex-div">

                    {{ include('admin/product/_delete_form.html.twig') }}

                </div>
                <div class="flex-div">

                    <a class="btn btn-primary mr-2" href="{{ path('admin.product.index') }}">Retour</a>
                </div>
            </div>


        {% for message in app.flashes('success') %}

            <div class="alert alert-success">

                {{ message }}

            </div>

        {% endfor %}
    </div>









    </body>

{% endblock %}
