{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}

    {{ include("customer/_filter_form.html.twig") }}

    <table class="table">
        <tbody>
            <tr>
                <th>Description</th>
                <th>Price</th>
                <th>Condition</th>
                <th>Model</th>
                <th></th>
            </tr>
            {% for product in products %}
                <tr>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.productCondition }}</td>
                    <td>{{ product.model.name }}</td>
                    <td>
                        <form method="post" action="{{ path("customer.show") }}">
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <button class="btn btn-primary" type="submit">Voir</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}