{% extends 'base.html.twig' %}

{% block title %}{{ product.model.name }}{% endblock %}

{% block body %}
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                <a href="{{ path('cart.index') }}">{{ message }}</a>
            </div>
        {% endfor %}
        <div class="row mt-3 mb-4">
            <div class="col-md-4">
                <img src="{{ asset('uploads/pictures/' ~ product.pictures[0].name) }}" class="img-fluid" alt="{{ product.pictures[0].name }}">
            </div>
            <div class="jumbotron col-md-8 p-4">
                <h1 class="mt-4 mt-md-0">{{ product.model.brand.name }} - {{ product.model.name }}</h1>
                <h2>{{ product.price }} €</h2>
                <hr>
                <div class="mt-4">
                    <h5>Description</h5>
                    <p>{{ product.description }}</p>
                    <h5>Caractéristiques</h5>
                    <ul>
                        <li>Batterie: {{ product.feature.battery }}</li>
                        <li>Caméra: {{ product.feature.camera }}</li>
                        <li>Carte graphique: {{ product.feature.graphicCard }}</li>
                        <li>Disque dur: {{ product.feature.hardDisk }}</li>
                        <li>Version du système: {{ product.feature.osVersion }}</li>
                        <li>Processeur: {{ product.feature.processor }}</li>
                        <li>Mémoire RAM: {{ product.feature.ram }} Go</li>
                        <li>Taille de l'écran: {{ product.feature.screenSize }}</li>
                        <li>Écran tactile: {{ product.feature.tactile ? 'Oui' : 'Non' }}</li>
                    </ul>
                </div>
                {{ form_start(form) }}
                {{ form_widget(form.add, {'attr': {'class': 'btn btn-warning w-25'}}) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}