{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <div class="container mt-4">
    {% if merchant %}
    <h3 class="mb-4">Liste de vos produits</h3>

    <table class="table">
        <thead >
        <tr>
            <th class="p-4">ID</th>
            <th class="p-4">Modèle</th>
            <th class="p-4">Condition</th>
            <th class="p-4">Prix souhaité</th>
            <th class="p-4">Date de dépôt</th>
            <th class="p-4">Statut</th>
            <th class="p-4">Action</th>
        </tr>
        </thead>
        <tbody class="teest" id="aze">
        {% for product in products %}


                <tr id="ert">
                    <td class="p-4">{{ product.id }}</td>
                    <td class="p-4">{{ product.model.name }}</td>
                    <td class="p-4">{{ product.productConditionToString }}</td>
                    <td class="p-4">{{ product.price }} €</td>
                    <td class="p-4">{{ product.depositDate ? product.depositDate|date('d-m-Y à H:i') : '' }}</td>
                    <td class="p-4">{% if product.sell.status == 0 %}En attente{% elseif product.sell.status == 1 %}Accepté{% else %}Refusé{% endif %}</td>
                    <td>
                        <a id="button" href="{{ path('merchant.product.show', {'id': product.id}) }}">Voir</a>

                    </td>
                </tr>

        {% else %}
            <tr>
                <td colspan="8=">Aucun produit</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div id="div" class="m-4">

    <a id="button" href="{{ path('merchant.product.new') }}">Vendre un produit</a>
</div>
    {% else %}
        <p>Vous devez être marchand pour vendre des produits.</p>
        <a class="btn btn-primary" href="{{ path('account.index') }}">Devenir marchand</a>
    {% endif %}
    </div>
{% endblock %}
