{% extends 'base.html.twig' %}

{% block title %}Aperçu d'une commande{% endblock %}

{% block body %}
    <h3 class="mb-4">Commande n°{{ order.id }}</h3>

    <table class="table">
        <tbody>
        <tr>
            <th>Numéro de la commande</th>
            <td>{{ order.id }}</td>
        </tr>
        <tr>
            <th>Commandé par</th>
            <td>{{ order.orderedBy.email }}</td>
        </tr>
        <tr>
            <th>Montant de la commande</th>
            <td>{{ order.total }} €</td>
        </tr>
        {% if order.paidDate %}
            <tr>
                <th>Payé le </th>
                <td>{{ order.paidDate|date('d-m-Y à H:i') }}</td>
            </tr>
            <tr>
                <th>Suivi de la livraison</th>
                <td>
                    <p>{{ order.deliveryStatusToString }}</p>
                    <a href="{{ path('admin.order.update_delivery_status', {id: order.id}) }}" class="btn btn-primary text-white">Mettre à jour</a>
                </td>
            </tr>
            {% if order.deliveryStatus != 0 %}
                <tr>
                    <th>Bon de livraison</th>
                    <td>{{ order.deliveryNote|upper }}</td>
                </tr>
            {% endif %}
        {% endif %}
        </tbody>
    </table>

    <div>
        <h5 class="mb-4">Liste des produits commandé ({{ order.countProducts }})</h5>
        <div class="row">
            {% for product in order.products %}
                {{ include('/product/_card.html.twig', {product: product.product, manageable: true}) }}
            {% else %}
                <p class="ml-3">Aucun produit</p>
            {% endfor %}
        </div>
    </div>

    <div class="d-flex">
        <a href="{{ path('order.invoice', {id: order.id}) }}" class="btn btn-primary text-white mr-2">Générer une facture</a>
        {{ include('admin/order/_delete_form.html.twig') }}
        <a class="btn btn-primary ml-2" href="{{ path('admin.order.index') }}">Retour</a>
    </div>
{% endblock %}
